# Ignorar templates de Django
**/templates/**/*.html
base/templates/**
reservas/templates/**

# Ignorar archivos de base de datos
*.sqlite3
db.sqlite3

# Ignorar migraciones
**/migrations/**

# Ignorar archivos compilados
*.pyc
__pycache__/
*.pyo
*.pyd
